<p>
  <strong>months:</strong>
  {% assign currentPageMonth = page.date | date: '%m%Y' %} {% for post in
  site.posts %} {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture
  %} {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %} {%
  if month != nmonth %} {% if month == currentPageMonth %}
  <strong>{{ post.date | date: '%B' }} {{ post.date | date: '%Y' }}</strong>
  {% else %}
  <a href="/months/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}">
    {{ post.date | date: '%B' }} {{ post.date | date: '%Y' }}
  </a>
  {% endif %} {% endif %} {% endfor %}
</p>
