{% include head.html %}
  <body>
    <header class="callout">
      <h1>
        <!-- <a href="{{ "/" | absolute_url | lower }}"> -->
          {{ site.title }}
        <!-- </a> -->
      </h1>
      <p>{{ site.description }}</p>
    </header>

    <div class="content homepage-content wrap">
      <section class="posts">
        <article class="post text">
          <p>This is the blog of <a href="http://jamierumbelow.net">Jamie Rumbelow</a>: a software engineer, writer and philosophy graduate who lives in London.</p>
          {% include tags.html %}
          {% include months.html %}
          <hr />
        </article>

        {% for post in paginator.posts %}
          <article class="post text">
            <h2 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-content">
              {{ post.content }}
            </div>
            <footer class="post-meta">
              <p>{{ post.date | date: "%l:%M%P. %B %e, %Y." }}</p>
            </footer>
          </article>
        {% endfor %}

        {% include pagination.html %}
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
