{% include head.html %}
  <body class="full-post">
    <div class="content wrap">
      <header>
        <p>
          <a href="{{ site.url }}">
            &larr; back to homepage
          </a>
        </p>
      </header>

      <section class="posts">
        <article class="post text">
          <header>
            <h2 class="post-title"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>
            {% include tags.html %}
          </header>

          <div class="post-content">
            {{ page.content }}
          </div>
          <footer class="post-meta">
            <span>{{ page.date | date: "%l:%M%P. %B %e, %Y." }}</span>
            {{ page.location }}
          </footer>
        </article>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>