{% include head.html %}
  <body>
    <header class="callout">
      <h1>
        <a href="{{ "/" | absolute_url | lower }}">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </header>

    <div class="content homepage-content wrap">
      <section class="posts">
        <article class="post text">
          <p>this is the occasional blog of <a href="http://jamierumbelow.net">jamie rumbelow</a>: a software engineer, writer and philosophy graduate who lives in london, and spends a lot of time in paris.</p>
          <p>
            <strong>tags:</strong>
            {% for tag in site.tags %}
              {% if tag[0] == page.title %}
                <strong>{{ tag[0] }}</strong>
              {% else %}
                <a href="/{{ tag[0] }}">{{ tag[0] }}</a>
              {% endif %}
            {% endfor %}
          </p>
          <hr />
        </article>

        {% for post in page.posts %}
          <article class="post text">
            <h2 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-content">
              {{ post.content }}
            </div>
            <footer class="post-meta">
              <span>{{ post.date | date: "%l:%M%P. %B %e, %Y." }}</span>
              {{ post.location }}
            </footer>
          </article>
          {% if forloop.last %}{% else %}<hr />{% endif %}
        {% endfor %}

        {% include pagination.html %}
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>